@model string

@section JavascriptInHead
{
    <script src="~/Scripts/Courses/instructors-controller.js"></script>
    <script type="text/javascript">
    registrationModule.factory("bootstrappedInstructors", function () {
        return { instructors: @Html.Raw(Model) };
    });
    </script>
}

<div class="container" ng-controller='InstructorsController'>

</div>